body {
    background-color: #e2ebf9; /* Soft light blue for a calming feel */
    font-family: 'Roboto', sans-serif; /* Modern, clean font */
    color: #3c3c3c;
}

header, footer {
    background-color: #ffffff; /* Keep white background for simplicity */
    border: 1px solid #e1e1e1; /* Light gray border for subtlety */
    padding: 5px 10px; /* Slight padding for balance */
    padding-bottom: 2px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Light shadow for depth */
    border-radius: 15px;
}

header h1, footer .footer-text {
    margin: 0;
    font-weight: 500; /* Slightly bolded for readability */
    color: #000000; /* Light blue */
    letter-spacing: 1px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.footer-icon img {
    transition: transform 0.3s ease;
    margin: 5px;
}

.footer-icon:hover img {
    transform: scale(1.15); /* Slight zoom for interaction effect */
}

.footer-text {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
}

.footer-icon:hover .footer-text {
    color: #010101;
}

.footer-icon {
    color: black;
    text-decoration: none;
}

.footer-icon:hover {
    color: #333;
    text-decoration: none;
}

.footer-icon p {
    margin: 0;
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

#content-header {
    color: #655ff9;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

/* Weather section styling */
.weather-box {
    max-width: 400px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(to bottom, #ffffff, #e9ecef);
}

.weather-box .card-body {
    padding: 20px;
}

.weather-box .weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.weather-box h3 {
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
}

.weather-box h4 {
    color: #343a40;
    font-size: 30px;
    margin-bottom: 10px;
}

.weather-box p {
    font-size: 14px;
    color: #6c757d;
}

.weather-box strong {
    color: #495057;
}

/* Section styling */
.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.section:hover {
    transform: scale(1.05);
}
.section h2 {
    color: #7f7beb;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.section h2 img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 10px; /* space between text and image */
}
.section p {
    font-size: 16px;
    color: #555555;
    line-height: 1.6;
}

#userGreeting {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(233, 232, 232, 0.2);
    color: #333;
    margin-top: 0px;
    text-align: center;
    padding-top: -20px;
}