/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    background: url('../img/weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Header Styles */
header {
    background-color: #ffffff;
    color: #343a40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    position: relative;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Main Content Styles */
.container {
    margin-top: 2rem;
}

.bordered-text {
    border-bottom: 2px solid #343a40;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group .form-control {
    flex: 1;
}

.input-group .btn {
    margin-left: 0.5rem;
}

/* Weather Details */
#weatherDetails p {
    font-size: 1.2rem;
}

#temperatureChart {
    margin-top: 2rem;
    
}


/* Footer Styles */
footer {
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    height:150px;
    position: fixed;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer-icon {
    text-decoration: none;
    color: #343a40;
    text-align: center;
}

footer .footer-icon img {
    width: 30px;
    height: 30px;
}

footer .footer-text {
    margin: 0;
    font-size: 8px;
}
